.idea-summary {
  width: 230px;
  height: 150px;
  overflow: hidden;
  margin: 0 20px 20px 0;
  padding: 18px;
  padding-left: 10px;
  box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 1px rgb(66 66 66 / 16%);
  border-radius: 3px;
  background-color: var(--color-light-gray);
}

.idea-summary:hover {
  background-color: var(--color-pharo-light-blue);
  box-shadow: 0 1px 3px 1px rgb(66 66 66 / 20%), 0 2px 8px 4px rgb(66 66 66 / 10%);
}

.idea-summary img {
  width: 43px;
  float: left;
  margin-right: 7px;
  margin-bottom: 100%;
  margin-top: -8px;
}

.idea-summary-title {
  font-size: var(--text-font-size);
  margin-top: 0;
  margin-bottom: 8px;
}

p.idea-summary-description {
  display: -webkit-box;
  max-height: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--color-dark-gray);
  font-size: var(--text-font-size);
}
