#navbar {
  display: block;
  overflow: visible;
  border-bottom: 5px solid var(--color-light-gray);
  /* margin-bottom: 20px; */
}

#navbar-buttons {
  max-width: var(--page-width);
  margin: 0 auto;
  text-align: center;
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
}

#navbar-buttons ul {
  margin: 0;
}

#navbar li {
  /* position: relative; */
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  /* float: left; */
}

#navbar a {
  display: inline-block;
  padding: 15px 10px;
  color: var(--color-pharo-blue);
  text-decoration: none;
}

#navbar a:hover {
  background-color: var(--color-pharo-light-blue);
}

#navbar a:active {
  background-color: var(--color-pharo-blue);
  color: white;
}
